
<div class="center">
  <img src="assets/figures/logo.jpg" />
</div>

<div class="bleue">
  <h2>
    Bienvenue dans notre service XXX ! JOA et nos équipes vous accompagnent
    durant votre hospitalisation pour toujours plus de lien et de bien-être
  </h2>
</div>

<div class="center">
  <h3>
    Choisissez et planifiez des activités avec nos intervenants qualifiés, selon
    vos besoins :
  </h3>
</div>

<div class="center">
  <div class="gris">
    <a routerLink="/activites/me-distraire">Me distraire</a>
    <a routerLink="/activites/etre-apaise">Etre apaisé(e)</a>
    <a routerLink="/activites/minstruire">M'instruire</a>
    <a routerLink="/activites/etre-soutenu">Etre soutenu(e)</a>
  </div>
</div>
