a {
  font-family: Arial, Helvetica, sans-serif;
  font-size: normal;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  text-decoration: none;
  color: #000000;
  padding: 10px;
  background-color: #fec117;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  outline: 2px solid #fff;
  outline-offset: -9px;

  width: 10rem;
}
a:hover {
  outline: 4px solid #fff;
  outline-offset: -4px;
}

h2 {
  text-align: center;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
}

h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: medium;
  background-color: #fffefe;
}

.bleue {
  border: 1px solid #dee9f5;
  background-color: #dee9f5;
}

.gris {
  border-top: 20px solid #869499;
  border-bottom: 15px solid #869499;
  background-color: #869499;
}

.center {
  text-align: center;
  margin: 4px;
}

.center img {
  height: auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: 4px;
}
