
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <div class="alert alert-primary text-center" role="alert">
                <h4 class="alert-heading">Mes Activités à Venir</h4>
            </div>
            <ul class="list-group">
                <!-- Lista de atividades futuras -->
                <li class="list-group-item" *ngFor="let activity of futureActivities">
                    <div class="row align-items-center">
                        <div class="col-md-4 text-center">
                            <h6 class="fw-bold">{{ activity.titre }}</h6>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="fw-bold">{{ activity.horaire_date_debut | date}}</span>
                        </div>
                        <div class="col-md-4 text-center">
                            <span class="badge custom-badge"><button class="btn btn-dark" (click)="EnleverInscription(activity)">Désinscrire</button></span>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col">
            <div class="alert alert-primary text-center" role="alert">
                <h4 class="alert-heading">Mes Activités Passées / Evaluées</h4>
            </div>
            <ul class="list-group">
                <!-- Lista de atividades passadas -->
<li class="list-group-item" *ngFor="let pastActivity of pastActivities">
    <div class="row align-items-center">
        <div class="col-md-3 text-center">
            <h6 class="fw-bold">{{ pastActivity.titre }}</h6>
        </div>
        <div class="col-md-3 text-center">
            <span class="fw-bold">{{ pastActivity.horaire_date_debut | date}}</span>
        </div>
        <div class="col-md-3 text-center">
            <span class="badge custom-badge" [ngClass]="{'bg-success': pastActivity.status === 'validé', 'bg-warning': pastActivity.status === 'en attente'}">{{ pastActivity.status }}</span>
        </div>
        <!-- Estrelas das atividades passadas -->
        <div class="col-md-3 text-center">
            <ng-container *ngIf="getStarsArray(pastActivity.id) > 0; else evaluer">
                <ng-container *ngFor="let _ of [].constructor(getStarsArray(pastActivity.id))">
                    <img src="../assets/figures/star_fill.webp" alt="Estrela" width="15" style="margin-right: 5px;">
                </ng-container>
                <a href="javascript:void(0);">
                    <img src="../assets/figures/editer.png" alt="Ícone" width="20" style="margin-left: 5px;" (click)="setSelectedActivity(pastActivity)" data-bs-toggle="modal" data-bs-target="#Modalevaluation">
                </a>
            </ng-container>
            <ng-template #evaluer>
                <button type="button" class="badge text-bg-warning text-center" (click)="setSelectedActivity(pastActivity)" data-bs-toggle="modal" data-bs-target="#Modalevaluation">
                    évaluer
                </button>
            </ng-template>
        </div>
        
    </div>
</li>



<!-- Modal -->
<div class="modal fade" id="Modalevaluation" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Evaluation de {{ selectedActivity?.titre }}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- Entrada numérica -->
                <div class="mb-3">
                    <label for="customRange2" class="form-label">Evaluation</label>
                    <input type="range" 
                    class="form-range" 
                    [(ngModel)]="rate"
                    [ngModelOptions]="{ standalone: true }"
                    min="1" 
                    max="5" 
                    id="rate">
                    <div class="slider-labels">
                        <span class="slider-label">1</span>
                        <span class="slider-label">2</span>
                        <span class="slider-label">3</span>
                        <span class="slider-label">4</span>
                        <span class="slider-label">5</span>
                    </div>
                </div>
                <!-- Entrada de texto -->
                <div class="form-floating">
                    <textarea class="form-control" 
                    placeholder="Leave a comment here"
                    id="comment" 
                    style="height: 100px"
                    [(ngModel)]="comment"
                    [ngModelOptions]="{ standalone: true }"
                    ></textarea>
                    <label for="floatingTextarea2">Commentaires</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="submitEvaluation(selectedActivity?.id,rate,comment)">Enregistrer</button>
            </div>
        </div>
    </div>
</div>
