
.content {
    padding-top: 5rem; 
  }
.navbar .nav-link {
    color: #fff; 
    margin: 5px; 
    border-radius: 5px;
}

.navbar .nav-link:hover {
    background-color: #fdaa00; 
    color: #DCDCDC; 
}

.navbar-brand img {
    max-height: 4.3rem !important; 
    width: auto;
    border-radius: 70% !important;
    object-fit: cover;
}

@media (max-width: 768px) {
    .navbar .nav-link {
        font-size: 0.9rem;
    }
    
    .navbar .navbar-brand img {
        max-height: 3rem; 
    }
}

@media (max-width: 576px) {
    .navbar .nav-link {
        font-size: 0.8rem; 
    }
    
    .navbar .navbar-toggler {
        font-size: 0.8rem; 
    }
}

.navbar .nav-link.active {
    text-decoration: underline; 
    color: #DCDCDC; 
    background-color: #fdaa00; 
}

.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color:#fdaa00;
}

.navbar .nav-link {
    font-size: 1rem; 
    font-family: "Century Gothic","Candara", sans-serif; 
    color: #fff; 
    margin: 5px; 
    border-radius: 5px;
}

footer .d-flex.align-items-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }